<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Login</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f4f8;
        }

        img {
            max-width: 400px;
            height: auto;
        }
    </style>
</head>
<body>
<img src="/images/ggaggung.jpg" alt="center-img" />
</body>
</html>
